<%= content_for :content_div do %>
    <div class="post">
        <div class="title">
            <h2><a href="#">Option::Calculator</a></h2><p>1.0.3</p>
        </div>
        <div class="entry">
        <%= render 'form' %>
        </div>
        <div class="meta">
            <p class="credit">Created by <a href="#">Dan Tylenda-Emmons</a> on February 20, 2011</p>
            <div class="links"><a href="#" class="more">Read more</a></div>
        </div>
    </div>
<% end %>

